.wm-app .createapolicywizard .panel-body
{
    width: 660px;
    margin: 0 auto;
    /*padding-top: 50px !important;*/
}
.app-wizard .app-wizard-steps
{
        width: 544px;
            margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.wm-app .hideelement
{
    display:none !important;
}
.wm-app .viewelement
{
    display:block;
}
@media only screen and (max-width: 844px) and (min-width: 299px){
.createapolicywizard .panel-body
{
    width: auto!important;
}
.wm-app .leftcolumn
{
    padding-right: 10px !important;
    margin-top: 10px;
}
.wm-app .rightcolumn
{
    padding-left: 0 !important;
    padding-right: 10px !important;
    margin-top: 10px;
}
}
.wm-app .form-control:focus
{
        border-color: #556287;
}

.app-date.input-group
{
    max-width:none;
    /*border: solid 1px #363d50;*/
}
.app-date > .form-control
{
    border: none!important;
}
.app-date .btn-date
{
    background-color: #282d39 !important;
    box-shadow: none !important;
    border: none !important;
}
.wm-app .instructiontext
{
    color:#556287;
    font-family:'Roboto-Italic';
    font-size:12px;
}
.wm-app .app-select i
{
    color: #556287;
    font-size: 24px;
}

.wm-app .leftcolumn
{
    padding-right: 30px;
    margin-top: 10px;
}
.wm-app .leftcolumn label,
.wm-app .rightcolumn label
{
    font-size: 14px;
    color: #9da7be;
    font-weight: normal;
}
.app-switch
{
    background: #282d39;
}
.app-switch .model-holder
{
    display:none;
}
.app-switch a
{
    color: #9da7be;
    font-size:16px;
    text-transform:none;
}
.wm-app .app-switch .btn
{
    border-radius: 2px!important;
    /* background-color: #282d39; */
    border: solid 1px #363d50;
        text-transform: none;
}
.wm-app .app-switch .btn-default
{
    background-color:transparent;
}
/*.wm-app .app-switch .btn.selected*/
/*{*/
/*        border: solid 1px #d4145a;*/
/*}*/

.wm-app .app-switch
{
    border-radius:0;
}
.app-switch .btn-group>.btn
{
    border-radius:0;
}
.wm-app .rightcolumn
{
    padding-left:30px;
    margin-top:10px;
}
.wm-app .app-accordion .app-accordion-panel.panel .panel-heading .panel-title .heading
{
    font-size: 20px;
    font-family: 'Dosis-Medium';
    letter-spacing: 0.8px;
}
.wm-app .app-accordion .app-accordion-panel.panel .panel-heading .panel-actions
{
   left: -49em;
    top: 1.6em;
    outline: none;
    float: left ;
}
.app-accordion .app-accordion-panel .panel-heading .panel-actions .panel-action
{
    /*border-radius: 50%;*/
    color: #556287;
    font-weight: bold;
    font-size: 16px;
    padding: 1px;
    border: 1px solid #556287;
    /*margin-right: .25em;*/
    margin-right: 20px;
}
.wm-app .app-accordion .app-accordion-panel.panel .panel-collapse.in:before{
    background: transparent;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.wm-app .app-calendar tbody .btn-default, .wm-app .app-date tbody .btn-default, .wm-app .app-datetime tbody .btn-default, .wm-app .app-timeinput tbody .btn-default, .wm-app .app-calendar tbody .btn, .wm-app .app-date tbody .btn, .wm-app .app-datetime tbody .btn, .wm-app .app-timeinput tbody .btn
{
        background-color: transparent;
        color: #fff;
            border: 1px solid #3a445d;
}
.wm-app .text-muted
{
        color: #9da7be;
}
.wm-app .app-date tbody .btn-default:hover, .wm-app .app-datetime tbody .btn-default:hover
{
    background-color: #fff;
    /*border-color: #d4145a;*/
    color: #282d39;
}
.wm-app .app-calendar small, .wm-app .app-date small, .wm-app .app-datetime small, .wm-app .app-timeinput small
{
        color: #d4145a;
}
.wm-app .app-date tbody tr:last-child td, .wm-app .app-datetime tbody tr:last-child td{
        padding-bottom: 10px;
}
.wm-app .uib-weeks
{
    background-color:#282d39!important;
}
.wm-app .app-date .uib-daypicker tbody .btn-default, .wm-app .app-datetime .uib-daypicker tbody .btn-default
{
        margin-left: 5px;
    margin-bottom: 5px;
}
.wm-app .app-date tbody tr td:first-child, .wm-app .app-datetime tbody tr td:first-child{
        padding-left: 15px;
}
.wm-app .app-date tbody tr td:last-child, .wm-app .app-datetime tbody tr td:last-child
{
        padding-right: 14px;
}
.wm-app .app-date tbody .btn-default.active, .wm-app .app-datetime tbody .btn-default.active, .wm-app .app-date tbody .btn-default:focus, .wm-app .app-datetime tbody .btn-default:focus
{
        border-color: #d4145a;
}
.wm-app .app-date .dropdown-menu li:last-child, .wm-app .app-datetime .dropdown-menu li:last-child
{
    padding:0;
}
.wm-app .app-date .btn-group .btn, .wm-app .app-datetime .btn-group .btn, .wm-app .app-date .btn-group + .btn, .wm-app .app-datetime .btn-group + .btn
{
    font-size: .85em;
    font-weight: bold;
    text-transform: uppercase;
}
.option
{
    line-height:50px;
}
.app-wizard .app-wizard-steps .disabled .arrow
{
     border-right: 2px solid #282d39!important;
    border-top: 2px solid #282d39!important;
 
}